* {
  box-sizing: border-box;
}

.grid-container {
  /* add border to outside, so grid squares fit inside */
  box-sizing: content-box;
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.grid-square {
  width: calc(600px / 16);
  height: calc(600px / 16);
  border: 1px solid #000;
}