@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;800&display=swap');

:root {
  --square-size: calc(600px / 16);
}
* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Playpen Sans', sans-serif;
  text-align: center;
  font-size: 72px;
  font-weight: 800;
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* compensate for settings container */
  margin-left: -200px;
}

.settings {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}

.grid-container {
  /* add border to outside, so grid squares fit inside */
  box-sizing: content-box;
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
}
.grid-square {
  width: var(--square-size);
  height: var(--square-size);
}
.grid-lines {
  border: 1px solid #000;
}